<form hx-post="/translate" hx-target="#output" hx-swap="textContent"
			hx-trigger="click from:#translate, keyup[document.getElementById('instant').checked] changed from:#input delay:1s">
	<table>
		<tr>
			<td>
				<select name="src" hx-get="/target_langs" hx-target="#tgt"
								hx-include="#tgt" hx-trigger="change" hx-swap="innerHTML">
					{% if detect %}
						<option value="detect">Detect language</option>
					{% else %}
						<option value="">---</option>
					{% endif %}
					{% for name, code in srcLangs %}
						<option value="{{code}}">{{name}}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<select name="tgt" id="tgt">
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<textarea id="input" name="input"></textarea>
			</td>
			<td>
				<textarea id="output" name="output"></textarea>
			</td>
		</tr>
	</table>
	<button id="translate">Translate</button>
</form>
<div>
	<input id="instant" type="checkbox"></input>
	<label for="instant">Instant translation</label>
</div>
